body {
  margin: 0;
  padding: 0;
}
.container {
  height: 500px;
  border: 2px dashed cornflowerblue;
  position: relative;
  margin: 20px auto;
}
.rectangle {
  position: relative;
  border: 20px solid purple;
  background-color: cornflowerblue;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
